<div class="parallax-container">
	<div class="parallax"><img src= "http://dailybunny.org/wp-content/uploads/2013/01/7ficN.gif"></div>
</div>

<div class="section white">
		<h2 class="header"><h1>How <strong>TaskBunny</strong> works</h1></h2>
    <div class="grey-text text-darken-3 lighten-3 left-align">
    <!-- <ul> -->
      <li>TaskBunny is the smart way to get things done by connecting you with others in your neighborhood.</li>
      <li>We find the best people to help you. </li>
      <li>You can trust our team of smart, talented Taskers, who have all been thoroughly vetted.</li>
      <li>You outsource errands you don't want to do.</li>
      <li>Just tell us what you need done and we connect you to qualified Taskers available to help.</li>
    <!-- </ul> -->
    </div>
  <div class="row container">
	</div>
	<div class="row container col s2 m4">
		<div class="parallax col s2 m4 responsive-img hide-on-med-and-down"><img src=<%= image_path "ryan.png" %>></div>
    <!-- <img class="parallax col s2 m4 responsive-img" src="images/ryan.png"> -->
	</div>
</div>
